.example-spacer {
    flex: 1 1 auto;
}
.mat-menu-item {
    line-height: 30px;
    height: 30px;
}
.sub-group-content {
	float: left;
    width: 49%;
    margin: 5px;
    text-align: center;
}
.mat-flat-button {
    width: 100%;
}
.mat-card {
    background-color: #e0e6ea;
}